<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alex.solidpresentation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SRP.bad_way.BadSRPActivity"
            android:label="Bad SRP" />
        <activity
            android:name=".SRP.good_way.GoodSRPActivity"
            android:label="Good SRP" />

        <activity
            android:name=".OCP.bad_way.BadOCPActivity"
            android:label="Bad OCP" />
        <activity
            android:name=".OCP.good_way.GoodOCPActivity"
            android:label="Good OCP" />
    </application>

</manifest>